<footer class="footer">
<nav>
    <ul class="list">
        <li><a class="links" href="https://adalab.es/" target="_blank">Articles </a></li>
        <li><a class="links" href="https://adalab.es/" target="_blank">Books</a></li>
        <li><a class="links" href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a class="links" href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a class="links" href="https://adalab.es/" target="_blank">Tips</a></li>
    </ul>
</nav>
<nav>
    <ul class="list_2">
        <li><a class="links" href="https://adalab.es/" target="_blank">Twiter</a></li>
        <li><a class="links" href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li><a class="links" href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
    </ul>
</nav>
<section class="sectionfooter">
    <p class="copyright">©Denise Troglio2021</p>   
     <span class="span"> we<span class="heart">❤︎</span class="span">components</span>
</section>


</footer>