<header class="header" id="initial">
  <nav>
      <ul class="menu">
          <li><a href="https://adalab.es/" target="_blank"><img src="./assets/images/ico-menu.svg" alt="ícon menu"></a>
          </li>
      </ul>
  </nav>
  <article class="article">
      <h1 class="title">Anonymous proxy</h1>
      <h2 class="subtitle">In hac habitasse platea dictumst.</h2>

      <ul class="circle">
          <li><a style="cursor:pointer" href="#3reasons"><img src="./assets/images/ico-scroll-down.svg" alt="scroll-down"></a></i>
      </ul>
  </article>
</header>