<section class="reasons">
    <h2 class="title_2" id="3reasons">3 reasons to purchase</h2> 

<section class="container">
    <article class="article_1">
        <h3>Ut sed metus</h3>
        <p class="one">Lorem ipsum, dolor sit amet, consectetur.</p>
    </article>

        <article class="article_2">
            <h3>Curabitur ac erat</h3>
            <p class="two">Mauris mattis uma quis lorem molestie.</p>
        </article>

            <article class="article_3">
                <h3 >Morbi dictum</h3>
                <p class="three">Aliquam in dolor et dolor tincidunt.</p>
            </article>

            <button class="more">More reasons</button>
</section>

<section class="top">
    <a href="../index.html#initial"><img src="./assets/images/ico-arrow.svg" alt="arrow"></a>
</section>