/*Colors*/

$color_Texto: black;

$background_footer: #304268;

$background_Reasons: #eff9ff;

$Tips_color: #8ccbea;

$texto_footer: white;

$texto_header: white;

$botones_color: #f26002;

$heart_color: #f26002;

$menu_color: #0271bc;

$color_text_tips: #4a4a4a;

$background_circle: white;

$background_go: white;

$background_boton_top: white;

/*Fonts*/

$font_Header: "Roboto Slab", serif;

$subtitle_Header: "Roboto";

$font_Tips: "Roboto";

$Title_tips: "Roboto Slab", serif;

$font_title_reasons: "Roboto Slab", serif;

$font_text_reasons: "Roboto";

$font_footer: "Roboto";

