.footer {
  background-color: $background_footer;
  width: 100%;
  height: 100%;
}

.list {
  list-style-type: none;
  line-height: 1.88;
  font-size: 16px;
  font-family: $font_footer;
  text-transform: uppercase;
  color: $texto_footer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 15px 45px;
}

.list_2 {
  list-style-type: none;
  line-height: 1.88;
  font-size: 16px;
  font-family: $font_footer;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(-30%);
  padding: 60px 15px 45px;
}

.links {
  text-decoration: none;
  color: $texto_footer;
}

.copyright {
  color: $texto_footer;
  font-size: 14px;
  font-family: $font_footer;
  line-height: 2.14;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(-220%);
}

.span {
  color: $texto_footer;
  font-size: 14px;
  font-family: $font_footer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0 15px 45px 15px;
}

.heart {
  color: $heart_color;
  display: flex;
  justify-content: space-evenly;
}

@media all and (min-width: 768px){
  .copyright {
    text-align: left;
    position: absolute;
    margin: 20px;
    margin-left: 90px;
    transform: translateY(-430px);
  }

  .span {
    text-align: left;
    position: absolute;
    margin: 30px;
    margin-left: 90px;
    padding: 0;
    transform: translateY(-400px);
  }

  .list{
    text-align: left;
    position: relative;
    align-items: flex-start;
    margin-left: 350px;
    transform: translateY(-5%);
  } 

  .list_2 {
    text-align: left;
    position: relative;
    align-items: flex-start;
    transform: translateY(-135%);
    margin-left: 520px;
  }
}

/*Comentário sobre estilos de ".list_2" para Tablet: Había empezado con flex-end pero no conseguía poner el texto a la izquierda, mismo con la función text-align: left.*/