.tips {
  font-size: 14px;
  color: $Tips_color;
  margin: 15px;
  font-family: $font_Tips;
}

.title_1 {
  font-family: $Title_tips;
  font-size: 24px;
  text-transform: capitalize;
  margin: 15px;
}

.text {
  font-size: 18px;
  font-family: $font_Tips;
  color: $color_text_tips;
  margin: 15px;
}

.go {
  background-color: $background_go;
  border-radius: 22.5px;
  color: $botones_color;
  font-family: $font_Tips;
  font-size: 20px;
  border: solid 3px $botones_color;
  width: 76px;
  height: 45px;
  font-weight: 700;
  margin: 40px 0 40px 0;
}


@media all and (min-width: 768px){
  .tips {
  margin: 45px;
  }

  .title_1 {
  margin-left: 45px;
  font-size: 26px;
  }

  .text {
  margin-left: 45px;
  font-size: 20px;
  }
}
