.tips {
    font-size: 14px;
    color: #8ccbea;
    margin: 15px;
    font-family: "Roboto";
  }
  
  .title_1 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    text-transform: capitalize;
    margin: 15px;
  }
  
  .text {
    font-size: 18px;
    font-family: "Roboto";
    color: #4a4a4a;
    margin: 15px;
  }
  
  .go {
    background-color: white;
    border-radius: 22.5px;
    color: #f26002;
    font-family: "Roboto";
    font-size: 20px;
    border: solid 3px #f26002;
    width: 76px;
    height: 45px;
    font-weight: 700;
    margin: 40px 0 40px 0;
  }